@import '/src/styles/mixins.sass'

.image
    width: 100%
    height: auto
    border: 1px solid $disabled
    border-radius: 1vw

.links
    display: flex
    justify-content: space-between
    align-items: center
    color: black
    margin-top: 1vw
    @include adaptive(medium)
        margin-top: 10px

.techs
    display: flex
    align-items: center

.tech
    &:not(:last-child)
        margin-right: 2vw
        @include adaptive(medium)
            margin-right: 15px

.gitLink, .tech
    display: block
    width: auto
    height: 1.7vw
    @include adaptive(medium)
        height: 30px

.gitLink, .tech
    > img
        width: 100%
        height: 100%
