@import '/src/styles/mixins.sass'

.companyInfo
    display: flex
    flex-direction: column
    align-items: center
    width: 25vw
    @include adaptive(medium)
        width: 100%

.year
    background-color: $primary
    border-radius: 3vw
    padding: 0.1vw 1vw
    color: white
    font-size: 1vw
    @include adaptive(medium)
        font-size: 14px
        padding: 4px 10px
        border-radius: 20px

.image
    height: 2vw
    margin: 1.8vw 0
    @include adaptive(medium)
        height: 40px
        margin: 20px 0

.description
    display: flex
    flex-direction: column
    align-items: center

.descriptionItem
    width: 90%
    background-color: white
    padding: 1vw 2vw
    border-radius: 10px
    box-shadow: 4px 4px 10px rgba(0,0,0,0.07)
    text-align: center

.descriptionItem:not(:last-child)
    margin-bottom: 1vw
    @include adaptive(medium)
        margin-bottom: 15px
