@import '/src/styles/mixins.sass'

@keyframes scroll
    0%
        transform: translateX(0)
    100%
        transform: translateX(-113vw) // 110 + 3 of margin

@keyframes scrollMedium
    0%
        transform: translateX(0)
    100%
        transform: translateX(-282vw)

@keyframes scrollSmall
    0%
        transform: translateX(0)
    100%
        transform: translateX(-496vw)

.portfolio
    display: flex
    flex-direction: column
    align-items: center
    overflow-y: auto
    overflow-x: hidden

.block:not(:last-child)
    margin-bottom: 3vw
    @include adaptive(medium)
        margin-bottom: 40px

// about --------------------------------

.aboutMeDescr
    max-width: 40vw
    text-align: center
    color: grey
    @include adaptive(medium)
        font-size: 16px
        max-width: 60vw
    @include adaptive(small)
        max-width: unset

// technologies ------------------------

.techsSlider
    max-width: 100vw
    overflow-x: hidden

.techsTrack
    display: flex
    width: 210vw // (7vw+3vw) * 20
    @include adaptive(medium)
        width: 378vw
    @include adaptive(small)
        width: 588vw

.techsTrack.animated
    animation: scroll 15s alternate infinite linear
    @include adaptive(medium)
        animation-name: scrollMedium
    @include adaptive(small)
        animation-name: scrollSmall

.techsTrack:hover
    animation-play-state: paused

.tech
    display: flex
    justify-content: center
    align-items: center
    width: 7vw
    height: 7vw
    border-radius: 1vw
    margin-left: 3vw
    @include adaptive(medium)
        width: 14vw
        height: 14vw
        border-radius: 10px
        margin-left: 4vw
    @include adaptive(small)
        width: 20vw
        height: 20vw
        border-radius: 10px
        margin-left: 8vw

.tech:hover
    img
        transform: scale(1.3)

.techLink
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    padding: 3vw

.tech img
    transition: 0.6s all
    width: 3vw
    @include adaptive(medium)
        width: 70%

.projects
    display: grid
    grid-template-columns: repeat(auto-fill, 40vw)
    gap: 5vw
    @include adaptive(medium)
        grid-template-columns: 100%
        gap: 40px
