@import '/src/styles/vars.sass'
    
.title
    margin: 0
    margin-bottom: 1vw

.text
    text-align: center
    color: $disabled

.form
    display: flex
    flex-direction: column
    margin-top: 1.5vw

.form .field
    margin-bottom: 1vw

.error
    width: 100%
    text-align: center
    color: red
    margin-top: 0.5vw

.successBlock
    min-width: 300px

.socials
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    margin: 1vw 0

.socialIconWrapper:not(:last-child)
    margin-right: 2vw

.socialIcon
    width: 2vw
    height: 2vw


