.title
    margin: 0
    margin-bottom: 1vw

.text
    text-align: center
    color: #a7a7a7

.form
    display: flex
    flex-direction: column
    margin-top: 1.5vw

.form .field
    margin-bottom: 1vw
