@import '/src/styles/mixins.sass'

@keyframes switchMode
    0%
        top: -6px
    50%
        top: 20px
        opacity: 0
    100%
        top: -6px

.header
    position: fixed
    top: -100px
    left: 0
    right: 0
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding: 1.7vw
    z-index: 100
    background: linear-gradient(rgb(255,255,255), rgba(255,255,255,0.8), rgba(255,255,255,0.4),rgba(255,255,255,0))
    @include adaptive(medium)
        padding: 10px

.header.showed
    top: 0
    transition: 1s all

.logo
    width: 3vw
    height: 3vw
    @include adaptive(medium)
        width: 40px
        height: 40px

.logo:hover
    transition: 1s transform
    transform: rotate(360deg)

.socials
    display: flex
    justify-content: center
    align-items: center

.socialIconWrapper
    padding: 10px
    transition: 0.6s all

.socialIconWrapper:hover
    transform: scale(1.2)

.socialIconWrapper:not(:last-child)
    margin-right: 1.2vw

.socialIcon
    width: 2vw
    height: 2vw
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    @include adaptive(medium)
        width: 30px
        height: 30px

.modeButton
    position: relative
    width: 2.8vw
    height: 2.8vw
    background: url('../../../assets/desert.svg') center center / contain no-repeat
    cursor: pointer
    @include adaptive(medium)
        width: 40px
        height: 40px

.modeButton.disabled
    opacity: 0.5
    cursor: default

.modeIcon
    position: absolute
    top: -0.3vw
    right: 0.6vw
    width: 1vw
    height: 1vw
    border-radius: 50%
    background-color: #ffce08
    z-index: -1
    @include adaptive(medium)
        top: -7px
        right: 10px
        width: 14px
        height: 14px

.modeIcon.dark
    transition: 1s all
    background-color: grey
    animation: switchMode 1s

.modeIcon.light
    transition: 1s all
    background-color: #ffce08
    animation: switchMode 1s
