.menu
    position: fixed
    bottom: -100px
    left: 50%
    transform: translateX(-50%)
    background-color: white
    box-shadow: 3px 3px 6px rgba(0,0,0,0.1)
    padding: 1vw
    border-radius: 10px
    z-index: 1000
    transition: 1s all
    &.showed
        bottom: 50px
        transition: 1s all

.menu > a:not(:last-child)
    margin-right: 2vw

.linkIcon
    font-size: 2vw!important
