@import '/src/styles/mixins.sass'

@keyframes laptopDotPulse
    100%
        width: 3vw
        height: 3vw
        margin-top: -1.5vw
        margin-left: -1.5vw
        opacity: 0

@keyframes laptopDotPulseSmall
    100%
        width: 50px
        height: 50px
        margin-top: -25px
        margin-left: -25px
        opacity: 0

@keyframes showAndHide
    50%
        opacity: 1
    100%
        opacity: 0

// @keyframes waveHand
//     25%
//         transform: rotate(10deg)
//     50%
//         transform: rotate(0)
//     75%
//         transform: rotate(10deg)
//     100%
//         transform: rotate(0)

.home
    display: flex
    justify-content: space-between
    padding-bottom: 11vw
    @include adaptive(medium)
        flex-direction: column
        align-items: center
        justify-content: center
        padding-top: 0

.leftSide
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    width: 50vw
    font-weight: bold
    @include adaptive(medium)
        align-items: center
        width: 100%

.greeting, .ocupation, .myName
    font-size: 3.8vw
    @include adaptive(medium)
        text-align: center
        font-size: 28px

// .greeting
//     position: relative
    // &::before
    //     content: '👋'
    //     position: absolute
    //     top: 50%
    //     left: -4vw
    //     font-size: 2.7vw
    //     margin-top: -1.8vw

// .greeting:hover
//     &::before
//         animation: waveHand 1.6s

// .hand
//     font-size: 2.7vw

.myName
    color: $primary

.contactBlock
    display: flex
    align-items: center
    justify-content: flex-end

.contactText
    color: #a7a7a7
    margin-right: 1vw
    font-weight: 400
    margin-bottom: -1.8vw

.contactButton
    margin-top: 2vw!important
    font-size: 1vw!important

.rightSide
    position: relative
    width: 50vw
    padding-left: 5vw
    @include adaptive(medium)
        width: 100%
        padding-left: 0
        height: 220px

.avatar, .avatarWink
    position: absolute
    display: flex
    justify-content: center
    top: 54%
    width: 14vw
    height: 15vw
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    margin-top: -8.7vw
    z-index: 0
    @include adaptive(medium)
        top: 20px
        left: 50%
        margin-top: 0
        margin-left: -100px
        width: 200px
        height: 200px

.avatar
    background-image: url('../../assets/icons/avatar.svg')

.avatarWink
    top: 58%
    opacity: 0
    background-image: url('../../assets/icons/avatar_wink.svg')
    @include adaptive(medium)
        top: 0

.avatar:hover .donwloadCVText
    opacity: 1

.avatar:hover .laptop
    height: 8.4vw
    box-shadow: 4px -4px 6px rgba(255,255,255,0.7)
    @include adaptive(medium)
        height: 110px

.avatar:hover .laptop .laptopCircle
    position: relative
    height: 1vw
    @include adaptive(medium)
        height: 20px

.avatar:hover .laptop .laptopCircle::after
    animation: laptopDotPulse 1.3s ease 1s infinite
    @include adaptive(medium)
        animation: laptopDotPulseSmall 1.3s ease 1s infinite

.avatar:hover
    .avatarWink
        animation: showAndHide 0.6s

.laptop
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 0
    display: flex
    justify-content: center
    align-items: center
    height: 12px
    background-color: #c7c7c7
    border-radius: 5px
    transition: 1s all

.laptopCircle
    width: 1vw
    height: 1px
    background-color: white
    border-radius: 50%
    transition: 1s all
    @include adaptive(medium)
        width: 20px

.laptopCircle::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: 1px
    height: 1px
    background-color: white
    border-radius: 50%

.donwloadCVText
    font-size: 1vw
    text-align: center
    color: #a7a7a7
    margin-top: 110%
    opacity: 0
    transition: 0.6s
