@import '/src/styles/mixins.sass'

@keyframes laptopDotPulse
    100%
        width: 3vw
        height: 3vw
        margin-top: -1.5vw
        margin-left: -1.5vw
        opacity: 0

@keyframes laptopDotPulseSmall
    100%
        width: 12vw
        height: 12vw
        margin-top: -6vw
        margin-left: -6vw
        opacity: 0

@keyframes showAndHide
    50%
        opacity: 1
    100%
        opacity: 0

// @keyframes waveHand
//     25%
//         transform: rotate(10deg)
//     50%
//         transform: rotate(0)
//     75%
//         transform: rotate(10deg)
//     100%
//         transform: rotate(0)

.home
    display: flex
    justify-content: space-between
    padding-bottom: 8vw
    @include adaptive(small)
        flex-direction: column
        align-items: center
        justify-content: center
        padding-bottom: 70vw
        padding-top: 0
        overflow-y: auto

.leftSide
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    width: 50vw
    font-weight: bold
    @include adaptive(small)
        align-items: center
        width: 100%

.greeting, .ocupation, .myName
    font-size: 4vw
    @include adaptive(small)
        font-size: 9vw

// .greeting
//     position: relative
    // &::before
    //     content: '👋'
    //     position: absolute
    //     top: 50%
    //     left: -4vw
    //     font-size: 2.7vw
    //     margin-top: -1.8vw

// .greeting:hover
//     &::before
//         animation: waveHand 1.6s

.myName
    color: $primary

.hand
    font-size: 2.7vw

.year
    margin-top: 1vw
    font-size: 1.3vw
    font-weight: 400
    color: #a7a7a7
    @include adaptive(small)
        font-size: 6vw

.rightSide
    position: relative
    width: 50vw
    padding-left: 5vw
    @include adaptive(small)
        width: 100%
        padding-left: 0
        height: fit-content
        margin-top: 6vw

.avatar, .avatarWink
    position: absolute
    top: 50%
    width: 14vw
    height: 15vw
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    margin-top: -8.7vw
    z-index: 0
    @include adaptive(small)
        top: 8vw
        left: 50%
        margin-left: -30vw
        width: 60vw
        height: 60vw

.avatar
    background-image: url('../../assets/avatar.svg')

.avatarWink
    top: 58%
    opacity: 0
    background-image: url('../../assets/avatar_wink.svg')
    @include adaptive(small)
        top: 8.8vw

.avatar:hover .laptop
    height: 8.4vw
    box-shadow: 4px -4px 6px rgba(255,255,255,0.7)
    @include adaptive(small)
        height: 33vw

.avatar:hover .laptop .laptopCircle
    position: relative
    height: 2vw
    @include adaptive(small)
        height: 5vw

.avatar:hover .laptop .laptopCircle::after
    animation: laptopDotPulse 1.3s ease 1s infinite
    @include adaptive(small)
        animation: laptopDotPulseSmall 1.3s ease 1s infinite

.avatar:hover
    .avatarWink
        animation: showAndHide 0.6s

.laptop
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 0
    display: flex
    justify-content: center
    align-items: center
    height: 12px
    background-color: #c7c7c7
    border-radius: 5px
    transition: 1s all

.laptopCircle
    width: 2vw
    height: 1px
    background-color: white
    border-radius: 50%
    transition: 1s all
    @include adaptive(small)
        width: 5vw

.laptopCircle::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: 1px
    height: 1px
    background-color: white
    border-radius: 50%
