@keyframes laptopDotPulse
    0%

    100%
        width: 34px
        height: 34px
        margin-top: -17px
        margin-left: -17px
        opacity: 0

.home
    display: flex
    justify-content: space-between
    padding: min(8%, 8vw)
    padding-top: 0
    padding-bottom: 110px
    height: 90vh

.home_left
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    width: 50vw
    font-size: 4vw
    font-weight: bold

.home_myName
    color: #ff6f01

.home_year
    margin-top: 1vw
    font-size: 1.3vw
    font-weight: 400
    color: #a7a7a7

.home_right
    position: relative
    width: 50vw
    padding-left: 5vw

.home_avatarWrapper
    position: absolute
    top: 50%
    margin-top: -8.5vw

.home_avatarWrapper:hover
    .home_laptop
        height: 129px
        box-shadow: 4px -4px 6px rgba(255,255,255,0.7)
        .home_laptopCircle
            position: relative
            height: 10px
            &::after
                content: ''
                position: absolute
                top: 50%
                left: 50%
                width: 1px
                height: 1px
                background-color: white
                border-radius: 50%
                animation: laptopDotPulse 1.3s ease 1s infinite

.home_avatar
    width: 14vw
    height: 15vw
    background: url('../../assets/avatar.svg') center center / contain no-repeat

.home_laptop
    position: absolute
    bottom: 0
    left: 0
    right: 0
    display: flex
    justify-content: center
    align-items: center
    height: 12px
    background-color: #c7c7c7
    border-radius: 5px
    transition: 1s all

.home_laptopCircle
    width: 10px
    height: 1px
    background-color: white
    border-radius: 50%
    transition: 1s all
