.experience
    display: flex
    justify-content: center
    align-items: center
    height: 90vh
    padding: min(8%, 8vw)
    padding-top: 0
    padding-bottom: 0

.experience_timeline
    display: flex